form {
  background-color: darkslategray;

}



textarea {
  resize: none;
}
label {
  font-size: 16px;

}

p {
  font-size: 16px;
}
.word-wrap {
  word-wrap: break-word;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-disabled {
  opacity: 0.50;
  cursor: not-allowed;
}

.dropdown-menu {
  margin-left: 16px;
  margin-right: 16px;
  width: 90%;
}

.home-btn {
  min-height: 200px;
  min-width: 270px;
  margin: 6px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.date {
  color: #ff7070;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#selectpicker {
  height: 100px;
}

#home-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#select-params-container {
  position: absolute;
  z-index: 5;
  height: 90%;
  width: 50%;
  background-color: green;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#queue-timer-container {
  position: absolute;
  z-index: 5;
  height: 60%;
  background-color: pink;
  left: 0;
  bottom: 0;
  margin: auto;
}

#select-games {
  background-color: white;
}

#sidebar-container, #news-feed-container, #global-chat-container {
  color: white;
  font-size: 3vh;
  height: 100%;
}

#sidebar-container {
  max-width: 320px;
}

#news-feed-container {
  background-color: rgba(196, 196, 196, .2);;
  /*color: #cecece;*/
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  overflow: auto;
}

#global-chat-container {
  width: 50%;
  position: absolute;
  right: 0;
}

#message-box {
  height: 80%;
  background-color: lightblue;
  color: black;
  font-size: 16px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

#chat-form {
  color: black;
  font-size: 16px;
  height: 10%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #223f85;
}

#send-chat-button {
  height: 100%;
}

#nav-container {
  height: 100%;
}

#profile-container {
  background-color: rgba(178, 109, 99, .5);
  height: 40%;
  margin: 4px;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  color: white;
  font-weight: bold
}

#join-queue-btn {
  background: url(http://i.imgur.com/bawYP47.png)
}

#join-lobby-btn {
  background: url(http://i.imgur.com/7CfRjKG.png)
}




