form {
}

textarea {
  resize: none;
}

label {
  font-size: 16px;

}

p {
  font-size: 16px;
}

h1 > strong {
  font-size: 2vw;
}

.word-wrap {
  word-wrap: break-word;
}

.center-horizontal {
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-disabled {
  opacity: 0.50;
  cursor: not-allowed;
}

.dropdown-menu {
  margin-left: 16px;
  margin-right: 16px;
  width: 90%;
}

.home-btn {
  height: 150px;
  min-width: 270px;
  margin: 6px;
}

.home-btn:hover {
  border: solid;
  border-color: white;
  min-height: 210px;
  min-width: 270px;
  margin: auto;
  margin-left: 7px;
}

.info-text {
  width: 85%;
  color: white;
  opacity: .5;
  text-align: center;
  margin: 0 auto;

}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.date {
  color: #ff7070;
}

.chat-dark-bg {
  background-color: rgba(130, 130, 130, .2);
}

.input {
  word-break: break-all;
}

.blur-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1;
}

.param-select-bar {
  display: block;
  width: 90%;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #d6d4d6;
  color: #434243;
  z-index: 5;
}

.param-pic {
  border: solid thin darkgrey;
  background-color: pink;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
  background: url(http://i.imgur.com/Qu5Erdc.jpg);
  background-size: contain;
}

.param-btn {
  width: 95%;
  height: 75px;
  margin: 8px;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#selectpicker {
  height: 100px;
}

#home-container {
  height: 100vh;
  width: 100%;
}

#select-params-container {
  background-color: #343131;
  border: solid #100f10;
  position: absolute;
  z-index: 5;
  height: 99%;
  width: 320px;
  top: 0;
  animation-name: slide-in-right;
  animation-duration: .3s;
}

#game-list-container {
  height: 100%;
  width: 100%;
}

#queue-timer-container {
  position: absolute;
  z-index: 5;
  height: 60%;
  background-color: pink;
  left: 0;
  bottom: 0;
  margin: auto;
}

#select-games {
  background-color: white;
}

#news-feed-container, #global-chat-container {
  color: white;
}

#sidebar-container {
  position: absolute;
  left: 0;
  min-width: 320px;
  width: 320px;
  height: 100%;
}

#remainder-container {
  position: absolute;
  left: 320px;
  height: 100%;
  width: calc(100% - 320px);
}

#button-container {
  /*align-items: center;*/
  width: 90%;
  min-height: 500px;
  height: 50%;
  color: white;
  font-weight: bold;
  margin: 0 auto;
}

#news-feed-container {
  float: left;
  background-color: rgba(196, 196, 196, .2);
  height: 95%;
  width: 40%;
  /*color: #cecece;*/
  /*margin-top: 4px;*/
  /*margin-left: 4px;*/
  /*margin-right: 0px;*/
  overflow: auto;
}

#global-chat-container {
  float: left;
  /*display: inline;*/
  /*position: relative;*/
  width: 50%;
  height: 95%;
  min-width: 300px;
  min-height: 35%;
}

#message-box {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 75%;
  width: 95%;
  background-color: #d6d6d6;
  color: black;
  font-size: 16px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  word-break: break-all;
}

#chat-form-container {

  display: flex;
  align-content: center;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
  height: 6%;
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: darkgrey;
}

#chat-form {
  width: 98%;
  height: 50px;
  margin-top: 10px;
}

#m {
  color: black;
  font-size: 16px;
  width: 83%;
  min-width: 200px;
  display: inline;
  margin-top: -2px;
  background-color: rgba(221, 221, 221, .7)
}

#send-chat-button {
  background-color: rgb(160, 36, 36);
  font-size: 1.5vh;
  height: 40px;
  width: 15%;
  margin-top: 0;
  margin-right: 5px;
  /*margin-left: 15px;*/
  /*margin-bottom: 25px;*/
}

#nav-container {
  font-size: 24px;
  height: 100%;
}

#profile-container {
  position: relative;
  border: solid black;
  background-color: rgba(160, 36, 36, .7);
  min-height: 320px;
  /*height: 40%;*/
  width: 320px;
  margin-left: 4px;
}

#profile-pic {
  border: solid;
  border-color: #464a51;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 100%;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  background: url(http://i.imgur.com/tQ1Zifw.png);
  background-size: contain;
}

#profile-username {
  text-align: center;
}

#profile-level {
  color: black;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  background-color: white;
  height: 20px;
  width: 80%;
}

#profile-social-links {
  text-align: center;
}

#join-queue-btn {
  background: url(http://i.imgur.com/bawYP47.png)
}

#join-lobby-btn {
  background: url(http://i.imgur.com/7CfRjKG.png)
}



@media screen and (max-width: 1187px) {

  html, body {
    background-color: #464a51;
    height: 100%;
  }

  #news-feed-container {
    display: none;
  }

  #global-chat-container {
    width: 100%;
    height: 100%;
  }

  #send-chat-button {

  }

  #sidebar-container {
    position: relative;
    width: 620px;
    max-height: 550px;
    margin: 0 auto;
  }

  #select-params-container {
    width: 100%;
  }

  #remainder-container {
    position: relative;
    left: 0;
    width: auto;
  }

  #profile-container {
    width: 500px;
    margin: 0 auto;
  }

  #button-container {
    /*background-color: yellow;*/
    /*height: 50px;*/
    margin: 0 auto;
  }

}

/*@media screen and (max-height: 1030px) {*/
  /*html, body {*/
    /*margin: 0;*/
    /*background-color: #464a51;*/
  /*}*/

  /*#index-container {*/
    /*height: 100%;*/
    /*background-color: #464a51;*/
    /*overflow: auto;*/
  /*}*/
/*}*/

@keyframes slide-in-right {
  from {
    transform: translate(-100%)
  }
  to {
    transform: translate(0%)
  }
}

@keyframes slide-out-left {
  from {
    transform: translate(0%)
  }
  to {
    transform: translate(-100%)
  }
}



