form {
}

textarea {
  resize: none;
}
label {
  font-size: 16px;

}

p {
  font-size: 16px;
}
.word-wrap {
  word-wrap: break-word;
}

.center-horizontal {
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-disabled {
  opacity: 0.50;
  cursor: not-allowed;
}

.dropdown-menu {
  margin-left: 16px;
  margin-right: 16px;
  width: 90%;
}

.home-btn {
  min-height: 200px;
  min-width: 270px;
  margin: 6px;
}

.home-btn:hover {
  border: solid;
  border-color: white;
  min-height: 210px;
  min-width: 280px;
  margin: auto;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.date {
  color: #ff7070;
}

.chat-dark-bg {
  background-color: rgba(130, 130, 130, .2);
}

.input {
  word-break: break-all;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}



#selectpicker {
  height: 100px;
}

#home-container {
  height:100%;
  position: relative;
  overflow: auto;
}

#select-params-container {
  position: absolute;
  z-index: 5;
  height: 90%;
  width: 50%;
  background-color: green;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#queue-timer-container {
  position: absolute;
  z-index: 5;
  height: 60%;
  background-color: pink;
  left: 0;
  bottom: 0;
  margin: auto;
}

#select-games {
  background-color: white;
}

#sidebar-container, #news-feed-container, #global-chat-container {
  color: white;
  height: 100%;
}

#sidebar-container {
  min-width: 320px;
  max-width: 320px;
  overflow: auto;
}

#news-feed-container {
  background-color: rgba(196, 196, 196, .2);;
  /*color: #cecece;*/
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  overflow: auto;
}

#global-chat-container {
  display: inline;
  position: relative;
  min-width: 35%;
}

#message-box {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 80%;
  width: 100%;
  background-color: #d6d6d6;
  color: black;
  font-size: 16px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  word-break: break-all;
}

#chat-form-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
  height: 10%;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 6px;
  background-color: darkgrey;
}

#chat-form {
  height: 100%;
}

#m {
  background-color: black;
  font-size: 16px;
  height: 100%;
  width: 83%;
  min-width: 200px;
  display: inline;
  background-color: rgba(221, 221, 221, .7)
}

#send-chat-button {
  height: 10%;
  width: 12%;
  position: absolute;
  right: 0;
  margin-top: -5px;
  margin-right: 5px;
  /*margin-left: 15px;*/
  /*margin-bottom: 25px;*/
}

#nav-container {
  font-size: 24px;
  height: 100%;
}

#profile-container {
  border: solid black;
  background-color: rgba(160, 36, 36, .7);
  height: 40%;
  margin: 4px;
  overflow: hidden;
}

#profile-pic {
  border: solid;
  border-color: #464a51;
  margin: 0 auto;
  border-radius: 200px;
  width: 190px;
  height: 190px;
  background: url(http://i.imgur.com/tQ1Zifw.png)
}

#profile-username {
  text-align: center;
}

#profile-level {
  color: black;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  background-color: white;
  height: 20px;
  width: 80%;
}

#profile-social-links {
  text-align: center;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  color: white;
  font-weight: bold
}

#join-queue-btn {
  background: url(http://i.imgur.com/bawYP47.png)
}

#join-lobby-btn {
  background: url(http://i.imgur.com/7CfRjKG.png)
}




