html, body {
    height: 100%;
    width: 100%;
  font-family: "Source Code Pro";
}

header {
  overflow: hidden;
    background-color: darkgray;
    height: 100px;
    width: 100%;
}

a:hover {
  text-decoration: none;
  color: white;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover .nav-link:visited .nav-link:active {
  text-decoration: none;
  color: white;
}

/*#header-container, #nav-buttons, a {*/
  /*text-decoration: none;*/
  /*color: white;*/
/*}*/

/*#header-container, #nav-buttons, a:hover, a:active, a:visited, a:focus {*/
  /*text-decoration:none;*/
  /*color: white;*/
/*}*/

#index-container {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    color: whitesmoke;
}

#header-container {
   background-color: #bababa;
   height: 100px;
   width: 100%;
 }

#logo {
  background-color: rgba(147, 147, 147, .5);
  position: absolute;
  left: 0;
  min-width: 306px;
  min-height: 86px;
  font-size: 54px;
  text-align: center;
  vertical-align: middle;
  line-height: 86px;
  margin: 8px;
}

#nav-buttons {
  position: absolute;
  right: 0;
  min-height:100%;
  font-size: 16px;
}

#ng-view-container {
  width: 100%;
  height: calc(100% - 100px);
  position: relative;
  background-color: #464a51
}

#ng-view {
  overflow: hidden;
}
