div {
  font-family: Helvetica, monospace;
  text-align: center;
  font-size: 18px;

}

.centered {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
}

.user {
  background-color: darkred;
  height: 100%;
  width: 16%;
  float: left;
  margin-left: 5px;
}

.profile-picture {
  background-color: lightblue;
  height: 40%;
  width: 95%;
  margin: 3px;
}

.username {
  height: 15%;
  width: 95%;
  background-color: yellow;
  margin: 3px;
}

.social-links {
  width: 95%;
  height: 40%;
  background-color: lightcoral;
  margin: 3px;
}

#page-container {
  background-color: greenyellow;
  height: 90vh;
  width: 100vw;
  overflow: auto;
}

#lobby-container {
  background-color: pink;
  height: 92vh;
  width: 60vw;
  min-width: 800px;
  min-height: 800px;
  display: table;
  margin: 0 auto;
}

#chat {
  position: relative;
  background-color: grey;
  width: 100%;
  height: 70%;
}

#message-box {
  position: relative;
  top: 0; left: 0; right: 0;
  margin: 5px;
  width: 100%;
  height: 75%;
  background-color: lightyellow;
}

#chat-form {
  background-color: aqua;
  position: relative;
  left: 0; right: 0; bottom: 0;
  margin-left: 6px;
  margin-right: 6px;
  height: 20%;
}

#text-box-container {
  height: 100%;
  width: 80%;
  background-color: blueviolet;
  float: left;
}

#text-box {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 80%;
  resize: none;
}

#send-chat-button-container {
  height: 100%;
  width: 20%;
  background-color: firebrick;
  float: left;
}

#send-chat-button {
  height: 90%;
  width: 90%;
  margin: 2px;

}

#users {
  position: relative;
  background-color: darkblue;
  height: 25%;
  width: 100%;
}

#users-wrapper {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 98%;
  height: 90%;
  margin: auto;
}
