div {
  font-family: Helvetica, monospace;
  text-align: center;
}

.centered {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
}

.chat-dark-bg {
  background-color: rgba(130, 130, 130, .2);
}

.user {
  background-color: rgba(155, 155, 155, .2);
  height: 100%;
  width: 16%;
  float: left;
  margin: 2px;
}

.profile-picture {
  height: 80%;
  width: 95%;
  margin: 3px;
  background: url(http://i.imgur.com/tQ1Zifw.png);
  background-size: auto;
  background-position: center;
}

.username-container {
  display: flex;
  height: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.username {
  font-size: 12px;
}

.social-links {
  width: 95%;
  height: 40%;
  background-color: lightcoral;
  margin: 3px;
}

#page-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#lobby-container {
  height: 100%;
  width: 50%;
  min-width: 800px;
  /*display: table;*/
  margin: 0 auto;
}

#chat {
  position: relative;
  width: 100%;
  height: 75%;
  margin-top: 8px;
}

#message-box {
  position: relative;
  top: 0; left: 0; right: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 75%;
  background-color: #d6d6d6;
  color: black;
  font-size: 16px;
  word-break: break-all;
}

#chat-form {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: darkgrey;
  position: relative;
  min-height: 75px;
}

#text-box-container {
  width: 80%;
  float: left;
}

#text-box {
  color: black;
  border-radius: 5px;
  /*position: absolute;*/
  /*top: 0; left: 0; bottom: 0; right: 0;*/
  background-color: rgba(221, 221, 221, .7);
  width: 97%;
  /*height: 88%;*/
  margin: 8px;
  margin-top: 25px;
  resize: none;
}

#send-chat-button-container {
  height: 100px;
  width: 20%;
  float: left;
  overflow: hidden;
}

#send-chat-button {
  background-color: rgb(160, 36, 36);
  font-size: 16px;
  height: 50%;
  width: 90%;
  margin: 2px;
  margin-top: 15px;
}

#users {
  position: relative;
  background-color: rgba(0, 0, 0, .2);
  height: 20%;
  width: 100%;
}

#users-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 820px) {
  #users {
    display: none;
  }

  #lobby-container {
    min-width: 0;
    height: 100%;
    width: 98%;
  }
}

@media screen and (max-height: 800px) {
  #users {
    display: none;
  }
}
