<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body data-ng-controller="homeController">
        <div id="container" class="container-fluid">
            <div class="row">
                <div id="left" class="col-md-3">
                    1 of 3
                </div>
                <div id="middle" class="col-md-3">
                    2 of 3
                </div>
                <div id="right" class="col-md-3">
                    <div class="container" id="chat-container">
                        <div id="messages-box">
                            <h1 id="room-name"></h1>
                            <div data-ng-repeat="message in messages track by $index">
                                <span> {{message}} </span>
                            </div>
                        </div>
                        <form data-ng-submit="sendMessage()">
                            <input class="col-sm-11" id="m" data-ng-model="text" autocomplete="off"/>
                            <button class="btn btn-sm btn-info col-sm-1">SEND</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script></script>
    </body>
</html>