<head>
  <link rel="stylesheet" href="../stylesheets/home.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/node_modules/hover.css/css/hover-min.css"/>
</head>

<div id="home-container" class="container-fluid" data-ng-controller="homeController">
  <div class="row">
    <div id="sidebar-container" class="col-lg-2">
      <div class="row">
        <div id="nav-container" class="col-lg-12">
          <div class="row">
            <div id="profile-container" class="col">
              <div id="profile-pic" class="flex-center"></div>
              <h1 id="profile-username">USERNAME</h1>
              <div id="profile-level">PROFILE LEVEL</div>
              <div id="profile-social-links">
                  <h4>social.steam</h4>
                  <h4>social.xbox</h4>
                  <h4>social.playstation</h4>
                  <h4>social.nintendo</h4>
              </div>
            </div>
          </div>
          <div class="row">
              <div id="button-container" class="col container">
                <div>
                <button id="join-queue-btn" class="home-btn" data-ng-click="setQueueParams()">FIND PLAYERS</button>
                <button id="join-lobby-btn" class="home-btn btn-disabled"> COMING SOON </button>
                </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div id="news-feed-container" class="col-lg-4">
      <div class="flex-center">
        <h1 style="color: whitesmoke"><strong>ANNOUNCEMENTS</strong></h1>
      </div>
      <!--COPY AND PASTE THE DIV FOR NEW ENTRY-->
      <div class="word-wrap">
        <h2 class="date"><strong>07/10/17</strong></h2>

        <p>The Altum Matchmaking system is now live!</p>
        <p>Click the 'JOIN QUEUE' button to find gamers of appropriate skill level in a multitude of competitive games. Select your game and appropriate skill level, and then add them on Steam, Xbox Live, Playstation Network, or the Nintendo Network!</p>
        <p>If you have any feature recommendations, please feel free to email us at [INSERT EMAIL HERE]. Also, if you find any bugs on the website, please report them to that same email, explaining what you were doing when the bug occurred. Thank you so much and enjoy!</p>
      <hr>
      </div>
      <div class="word-wrap">
        <h2 class="date"><strong>XX/XX/XX</strong></h2>
        <p>Lorem ipsum placerat dui bibendum quis donec ullamcorper, in feugiat aliquam nulla dapibus placerat pharetra magna, ligula aliquam nunc morbi semper torquent.</p>
        <p>Diam fermentum lacinia euismod volutpat pulvinar lacinia, quisque vestibulum conubia ultricies potenti, conubia maecenas ornare non augue curabitur tincidunt malesuada litora tincidunt leo elementum porttitor quam pellentesque himenaeos odio venenatis fringilla.</p>
        <p>Mi leo rhoncus semper gravida tempus purus mattis dapibus, aenean platea in scelerisque auctor etiam cubilia tempor, eget egestas aptent potenti vitae nunc suspendisse.</p>
        <p>Lorem litora congue egestas lectus aliquam erat dictum faucibus tempus, at sagittis varius massa fermentum potenti eros suscipit ultrices primis euismod aptent purus tortor.</p>
        <p>Mattis litora dapibus class aenean sit habitant fames, placerat est donec nam maecenas venenatis auctor, urna habitant eros urna augue et.</p>
      <hr>
      </div>
      <div class="word-wrap">
    <h2 class="date"><strong>XX/XX/XX</strong></h2>
        <p>Lorem ipsum placerat dui bibendum quis donec ullamcorper, in feugiat aliquam nulla dapibus placerat pharetra magna, ligula aliquam nunc morbi semper torquent.</p>
        <p>Diam fermentum lacinia euismod volutpat pulvinar lacinia, quisque vestibulum conubia ultricies potenti, conubia maecenas ornare non augue curabitur tincidunt malesuada litora tincidunt leo elementum porttitor quam pellentesque himenaeos odio venenatis fringilla.</p>
        <p>Mi leo rhoncus semper gravida tempus purus mattis dapibus, aenean platea in scelerisque auctor etiam cubilia tempor, eget egestas aptent potenti vitae nunc suspendisse.</p>
        <p>Lorem litora congue egestas lectus aliquam erat dictum faucibus tempus, at sagittis varius massa fermentum potenti eros suscipit ultrices primis euismod aptent purus tortor.</p>
        <p>Mattis litora dapibus class aenean sit habitant fames, placerat est donec nam maecenas venenatis auctor, urna habitant eros urna augue et.</p>
      <hr>
      </div>
    </div>
    <div id="global-chat-container" class="col-lg-4">
      <h1 style="text-align: center"><strong>Global Chat</strong></h1>
      <div id="message-box">
        <!--[date] username : [message]-->
        <div data-ng-repeat="message in messages track by $index">
          <div data-ng-class-even="'chat-dark-bg'">
            <span style="color: #db6064">{{message.time}}</span> | <span><strong>{{message.username}}</strong>: </span><span style="color: #666666">{{ message.content }} </span>
          </div>
        </div>
      </div>
      <div id="chat-form">
        <!--enter chat here-->
        <form data-ng-submit="sendMessage()">
          <textarea rows="4" class="form-control" id="m" data-ng-model="text" autocomplete="off" placeholder="Enter message to chat!"></textarea>
          <button id="send-chat-button" class="btn btn-sm btn-info flex-center">SEND</button>
        </form>
      </div>
    </div>
  </div>

  <div id ="select-params-container" data-ng-show="displayParamWindow" data-ng-controller="paramsController">
    <div id="game-list-container" >
      <select ng-model="selectedGame" data-ng-options="game as game.name for game in games" data-ng-change="updateGame()">
        <option  value="" disabled >Select a game</option>
      </select>
      <select ng-model="selectedRankIndex" data-ng-options="ranks.indexOf(rank) as rank for rank in ranks" data-ng-show="rankListShown" data-ng-change="updateRank()"></select>
      <div class="row">
        <button class="btn btn-primary" data-ng-click="cancelParamSelect()">CANCEL</button>
        <button class="btn btn-primary" data-ng-click="joinQueue(); hideParamWindow(); showQueueTimer()">CONFIRM</button>
      </div>
    </div>
  </div>

  <div id="queue-timer-container" data-ng-show="displayQueueTimer" class="col-lg-2" data-ng-controller="queueTimerController">
    <h1 data-ng-model="timer">{{timer}}</h1>
    <button data-ng-click="cancel(); hideQueueTimer()">CANCEL</button>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</div>


