<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/lobby.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div id="page-container">
  <div id="lobby-container">
    <div id="users">
      <div id="users-wrapper">
          <div data-ng-repeat="user in activeUsers" class="user">
            <div>
              <div class="profile-picture">profile pic</div>
              <div class="username">{{user.name}}</div>
              <div class="social-links">social links</div>
            </div>
          </div>
      </div>
    </div>
  <div id="chat">
    <div id="message-box" class="centered">
    <div data-ng-repeat="message in messages track by $index" style="text-align: left" data-ng-class-even="'chat-dark-bg'">
      <span style="color: #db6064">{{message.time}}</span> | <span><strong>{{message.username}}</strong>: </span><span style="color: #666666">{{ message.content }} </span>
    </div>
    </div>
    <!--<div id="chat-form">-->
    <form id="chat-form"data-ng-submit="sendMessage()">
    <div id="text-box-container">
    <textarea class="input" id="text-box" data-ng-model="text" autocomplete="off" rows="4"></textarea>
    </div>
    <div id="send-chat-button-container">
    <button id="send-chat-button" class="btn btn-info">SEND</button>
    </div>
    </form>
    </div>
    <!--<div id="game-name"></div>-->
    <!--<div id="average-rank"></div>-->
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous">
</script>
</div>


